<div class="logo">
    <a href=""><img src="ProfilePicture.png"/></a>
</div>
<div>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/counter" Match="NavLinkMatch.All">
                Counter
            </NavLink>
        </li>
        <li>
           <NavLink href="/todo" Match="NavLinkMatch.All">
                Todo
            </NavLink> 
        </li>
        <li>
            <NavLink href="/weather" Match="NavLinkMatch.All">
                Weather
            </NavLink>
        </li>
    </ul>
</div>